*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 50em) {
  html {
    font-size: 40%;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

.center-text {
  text-align: center !important;
}

.margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.margin-bottom-xsmall {
  margin-bottom: 0.5rem !important;
}

.margin-bottom-medium {
  margin-bottom: 3.5rem !important;
}

.margin-bottom-mediumLarge {
  margin-bottom: 5.5rem !important;
}

.margin-bottom-big {
  margin-bottom: 10rem !important;
}

.margin-top-medium {
  margin-top: 6rem !important;
}

.margin-top-big {
  margin-top: 10rem !important;
}

.margin-top-huge {
  margin-top: 10rem !important;
}

.apartments {
  grid-column: col-start 8/full-end;
  grid-template-rows: repeat(3, 1fr);
}

.chooseUs {
  grid-column: center-start/center-end;
  grid-row: 6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.chooseUs__title {
  font-size: 2.6rem;
}
.chooseUs__image {
  width: 100%;
  display: block;
  height: 100%;
  border-radius: 8px;
}
.chooseUs__options {
  display: grid;
  grid-template-columns: min-content minmax(min-content, 1fr);
  gap: 3rem;
}
.chooseUs__options--svg1 {
  background-color: #f9b500;
}
.chooseUs__options--svg2 {
  background-color: #d35be2;
}
.chooseUs__options--svg3 {
  background-color: #5baee2;
}
.chooseUs__options svg {
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  border-radius: 50%;
}
.chooseUs__subcontainer--subtitle {
  font-size: 1.5rem;
}
.chooseUs__subcontainer p {
  font-size: 1.5rem;
}
.chooseUs__container {
  display: grid;
  grid-template-rows: min-content;
  justify-content: center;
}

.explore {
  grid-column: center-start/center-end;
}
.explore__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.explore__title--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.explore__title {
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
}
.explore__subTitle {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: #525e68;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.explore__icon {
  display: inline-block;
  transform: translateY(-0.1rem);
  margin-left: 0.4rem;
  font-size: 3rem;
}
.explore__properties {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}
.explore__properties--name {
  grid-column: 1/-1;
  padding: 0.5rem 0.2rem 1rem 0.8rem;
  font-size: 1.5rem;
}
.explore__image {
  display: block;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  grid-column: 1/-1;
  grid-row: 1;
}
.explore a {
  display: flex;
  justify-content: center;
  align-self: start;
}
.explore__location, .explore__rooms, .explore__price {
  gap: 0.9rem;
  display: flex;
  align-items: center;
  padding: 0.9rem;
}
.explore__location svg, .explore__rooms svg, .explore__price svg {
  height: 1.2rem;
  width: 1.2rem;
  fill: #248bcc;
}
.explore__location p, .explore__rooms p, .explore__price p {
  font-size: 1.3rem;
  font-weight: 400;
}
.explore__button {
  padding: 1.2rem 2rem;
  background-color: #248bcc;
  color: #fff;
  border-radius: 6px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.8rem;
  font-weight: 600;
  justify-self: center;
  transform: translateY(0.5rem);
  grid-column: 2;
  width: 80%;
}
.explore__next {
  position: absolute;
  right: -4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20%;
  background-color: #248bcc;
  border-radius: 50%;
  padding: 1rem;
}
.explore__next svg {
  height: 3rem;
  width: 3rem;
  fill: #fff;
}

.footer {
  grid-column: center-start/center-end;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /*  border-bottom: 0.1rem solid $color-grey-light; */
}
.footer__container a {
  font-size: 1.2rem;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.footer__social {
  display: flex;
  border-bottom: 0.1rem solid #dfddd7;
  padding-bottom: 2rem;
  gap: 2rem;
}
.footer__social svg {
  height: 2rem;
  width: 2rem;
}
.footer__wrapper {
  padding: 1.2rem 0rem 2rem 0rem;
  display: flex;
  justify-content: space-between;
}
.footer__terms {
  display: flex;
  gap: 1.4rem;
}
.footer__terms p {
  font-size: 1.3rem;
  color: #525e68;
}

.gallery {
  grid-column: center-start/center-end;
  grid-row: 4;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(8, 1fr);
}
.gallery__item {
  position: relative;
}
.gallery__item--1 {
  grid-column: 1/span 4;
}
.gallery__item--2 {
  grid-column: 1/span 4;
  grid-row: 2;
}
.gallery__item--3 {
  grid-column: 5/-1;
  grid-row: 1/span 2;
}
.gallery__text {
  grid-column: 1;
  grid-row: 1;
  z-index: 3;
  position: absolute;
  top: 0.7rem;
  color: #fff;
  left: 1.4rem;
  font-size: 1.9rem;
}
.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 8px;
  filter: brightness(70%);
}

.grid {
  display: grid;
  grid-template-rows: 6rem 80vh repeat(7, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.header {
  grid-column: 1/-1;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 1.9rem;
  color: #248bcc;
}
.header__logo--secondary {
  color: #dfddd7;
}

.main__nav--logIn {
  padding: 1.2rem 2rem;
  background-color: #248bcc;
  color: #fff;
  border-radius: 6px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.main__nav--list {
  display: flex;
  gap: 2rem;
  font-weight: 400;
}
.main__nav--link:link, .main__nav--link:visited {
  font-size: 1.4rem;
  display: inline-block;
  transition: all 0.4s ease-in-out;
}
.main__nav--link:hover, .main__nav--link:active {
  color: #248bcc;
  transform: scale(1.1);
}
.main__nav--link.active {
  color: #248bcc;
  font-weight: 500;
}

.hero {
  grid-column: full-start/col-end 7;
  grid-row: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/house-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  justify-content: center;
  align-content: center;
}
.hero__wrapper h2 {
  color: #fff;
  font-size: 4rem;
}
.hero__wrapper span {
  color: #f9b500;
}
.hero__rentBuy {
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.7rem;
  border-radius: 0.4rem 0.4rem 0rem 0rem;
  width: 18%;
  background-color: #fff;
}
.hero__dropMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  padding: 1.4rem;
  background-color: #fff;
  font-size: 1.8rem;
}
.hero__dropMenu button {
  padding: 1.2rem 2rem;
  background-color: #248bcc;
  color: #fff;
  border-radius: 6px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1rem;
}
.hero__dropMenu--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.hero__dropMenu--item {
  border: none;
  font-size: 1rem;
  background-color: #fff;
}

.questions {
  grid-column: center-start/center-end;
  grid-row: 7;
}
.questions__titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions__title {
  font-size: 3rem;
}
.questions__btn {
  padding: 1.2rem 2rem;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1.2rem;
}
.questions__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  align-items: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  counter-reset: list-counter;
}
.questions__list--item {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid #dfddd7;
  border-bottom: 0.1rem solid #dfddd7;
  padding: 3rem 0rem 3rem 0rem;
}
.questions__list--item p {
  counter-increment: list-counter;
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.questions__list--item p::before {
  content: "0" counter(list-counter) "";
  font-size: 2rem;
  font-weight: 600;
  margin-right: 1.5rem;
}
.questions__list--item span {
  font-weight: 500;
  font-size: 2rem;
}

.slideShow {
  background-color: #d35be2;
  grid-column: center-start/center-end;
  grid-row: 5;
}

.subscribe {
  background-color: #dfddd7;
  grid-column: full-start/full-end;
  color: #fff;
  display: grid;
  padding: 6rem 0rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
.subscribe__form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../images/formImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-column: center-start/center-end;
  padding: 6rem;
  border-radius: 8px;
}
.subscribe__form--container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.subscribe__form h3 {
  font-size: 2.4rem;
}
.subscribe__form p {
  font-size: 1.8rem;
}
.subscribe__form form {
  width: 40rem;
  max-width: 100%;
  position: relative;
}
.subscribe__form form input[type=email] {
  padding: 1rem 2rem;
  border: 1px solid;
  border-radius: 4px;
  width: 100%;
}
.subscribe__form form button[type=submit] {
  padding: 0.7rem 0.4rem;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  height: 80%;
  /* min-width: 20rem; // Set the minimum width
  max-width: 100%; */
  background-color: #248bcc;
  position: absolute;
  right: 0;
  top: 10%;
  transform: translateX(-0.5rem);
}