*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

.center-text {
  text-align: center !important;
}

.margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.margin-bottom-xsmall {
  margin-bottom: 0.5rem !important;
}

.margin-bottom-medium {
  margin-bottom: 3.5rem !important;
}

.margin-bottom-big {
  margin-bottom: 8rem !important;
}

.margin-top-big {
  margin-top: 8rem !important;
}

.margin-top-huge {
  margin-top: 10rem !important;
}

.chooseUs {
  grid-column: center-start/center-end;
  grid-row: 6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.chooseUs__title {
  font-size: 2.6rem;
}
.chooseUs__image {
  width: 100%;
  display: block;
  height: 100%;
  border-radius: 8px;
}
.chooseUs__options {
  display: grid;
  grid-template-columns: min-content minmax(min-content, 1fr);
  gap: 3rem;
}
.chooseUs__options--svg1 {
  background-color: #f9b500;
}
.chooseUs__options--svg2 {
  background-color: #d35be2;
}
.chooseUs__options--svg3 {
  background-color: #5baee2;
}
.chooseUs__options svg {
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  border-radius: 50%;
}
.chooseUs__subcontainer--subtitle {
  font-size: 1.5rem;
}
.chooseUs__subcontainer p {
  font-size: 1.5rem;
}
.chooseUs__container {
  display: grid;
  grid-template-rows: min-content;
  justify-content: center;
}

.explore {
  grid-column: center-start/center-end;
}
.explore__container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.explore__title--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.explore__title {
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
}
.explore__subTitle {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: #525e68;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.explore__icon {
  display: inline-block;
  transform: translateY(-0.1rem);
  margin-left: 0.4rem;
  font-size: 3rem;
}
.explore__properties {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}
.explore__properties--name {
  grid-column: 1/-1;
  padding: 0.5rem 0.2rem 1rem 0.8rem;
  font-size: 1.5rem;
}
.explore__image {
  display: block;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  grid-column: 1/-1;
  grid-row: 1;
}
.explore__location, .explore__rooms, .explore__price {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0.9rem;
}
.explore__location svg, .explore__rooms svg, .explore__price svg {
  height: 1.2rem;
  width: 1.2rem;
  fill: #248bcc;
}
.explore__location p, .explore__rooms p, .explore__price p {
  font-size: 1.3rem;
  font-weight: 400;
}
.explore__button {
  border-radius: 4px;
  grid-column: 1;
  font-size: 1rem;
  padding: 0.8rem;
  font-weight: 600;
  align-self: start;
  transform: translateY(0.5rem);
  grid-column: 2;
  width: 80%;
}
.explore__next {
  position: absolute;
  right: -4rem;
  top: 20%;
}
.explore__next svg {
  height: 3.5rem;
  width: 3.5rem;
  fill: #fff;
  background-color: #248bcc;
  border-radius: 50%;
}

.footer {
  background-color: #e9aef1;
  grid-column: center-start/center-end;
}

.gallery {
  grid-column: center-start/center-end;
  grid-row: 4;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(8, 1fr);
}
.gallery__item {
  position: relative;
}
.gallery__item--1 {
  grid-column: 1/span 4;
}
.gallery__item--2 {
  grid-column: 1/span 4;
  grid-row: 2;
}
.gallery__item--3 {
  grid-column: 5/-1;
  grid-row: 1/span 2;
}
.gallery__text {
  grid-column: 1;
  grid-row: 1;
  z-index: 3;
  position: absolute;
  top: 0.7rem;
  color: #fff;
  left: 1.4rem;
  font-size: 1.9rem;
}
.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 8px;
  filter: brightness(60%);
}

.grid {
  display: grid;
  grid-template-rows: 6rem 80vh repeat(7, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
}

.header {
  grid-column: 1/-1;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 1.4rem;
  color: #248bcc;
}
.header__logo--secondary {
  color: #dfddd7;
}

.main__nav--list {
  display: flex;
  gap: 2rem;
  font-weight: 400;
}
.main__nav--link:link, .main__nav--link:visited {
  display: inline-block;
  transition: all 0.4s ease-in-out;
}
.main__nav--link:hover, .main__nav--link:active {
  color: #248bcc;
  transform: scale(1.1);
}
.main__nav--link.active {
  color: #248bcc;
  font-weight: 500;
}

.hero {
  grid-column: full-start/col-end 6;
  grid-row: 2;
  background-image: url("../../images/house-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.questions {
  background-color: #5baee2;
  grid-column: center-start/center-end;
  grid-row: 7;
}

.slideShow {
  background-color: #d35be2;
  grid-column: center-start/center-end;
  grid-row: 5;
}

.subscribe {
  background-color: #adff5c;
  grid-column: full-start/full-end;
}