// COLOR VARIABLES
$color-primary: #fff;
$color-grey-dark: #525e68;
$color-grey-light: #dfddd7;
$color-secondary: #248bcc;
$color-secondary-light: #5baee2;
$color-tertiary: #f9b500;
$color-black: #000;

$color-purple-dark: #d35be2;
$color-purple-light: #e9aef1;

$color-green-dark: #55aa00;
$color-green-light: #adff5c;

// FONT VARIABLES
$font-primary: "Poppins", sans-serif;

//responsive breakpoints

$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
