.chooseUs {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
  padding: 8rem 0rem;
  @media screen and (max-width: $bp-small) {
    padding: 6rem 0rem 4rem;
  }
  &__title {
    font-size: 3rem;
    padding-bottom: 2rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  &__options {
    display: grid;
    grid-template-columns: min-content minmax(min-content, 1fr);
    gap: 3rem;
    &--svg1 {
      background-color: $color-tertiary;
    }
    &--svg2 {
      background-color: $color-purple-dark;
    }
    &--svg3 {
      background-color: $color-secondary-light;
    }
    svg {
      height: 4rem;
      width: 4rem;
      padding: 0.5rem;
      border-radius: 50%;
    }
  }
  &__subcontainer {
    &--subtitle {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
  &__container {
    display: grid;
    align-items: center;
  }
}
