.chooseUs {
  grid-column: center-start / center-end;
  grid-row: 6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  &__title {
    font-size: 2.6rem;
  }

  &__image {
    width: 100%;
    display: block;
    height: 100%;
    border-radius: 8px;
  }
  &__options {
    display: grid;
    grid-template-columns: min-content minmax(min-content, 1fr);
    gap: 3rem;
    &--svg1 {
      background-color: $color-tertiary;
    }
    &--svg2 {
      background-color: $color-purple-dark;
    }
    &--svg3 {
      background-color: $color-secondary-light;
    }
    svg {
      height: 4rem;
      width: 4rem;
      padding: 0.5rem;
      border-radius: 50%;
    }
  }
  &__subcontainer {
    &--subtitle {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  &__container {
    display: grid;
    grid-template-rows: min-content;
    justify-content: center;
  }
}
