.explore {
  grid-column: center-start / center-end;
  grid-row: 3;
  &__title--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
  }
  &__subTitle {
    font-size: 0.8rem;
    color: $color-grey-dark;
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  &__icon {
    display: inline-block;
    transform: translateY(-0.1rem);
    margin-left: 0.4rem;
    font-size: 1.7rem;
  }
}
