.explore {
  grid-column: center-start / center-end;

  &__container {
    display: grid;
    gap: 2rem;

    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }
  &__title--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
  }
  &__subTitle {
    font-size: 0.8rem;
    color: $color-grey-dark;
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  &__icon {
    display: inline-block;
    transform: translateY(-0.1rem);
    margin-left: 0.4rem;
    font-size: 1.7rem;
  }
  &__properties {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    border-radius: 8px;
    background-color: $color-primary;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    &--name {
      grid-column: 1 / -1;
      padding: 0.3rem;
      font-size: 0.6rem;
    }
  }
  &__image {
    display: block;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    grid-column: 1 / -1;
  }
  &__location,
  &__rooms,
  &__price {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    svg {
      height: 0.7rem;
      width: 0.7rem;
      fill: $color-secondary;
    }
    p {
      font-size: 0.6rem;
    }
  }

  &__button {
    border-radius: 4px;
    grid-column: 1;
    font-size: 0.7rem;
    padding: 0.1rem;
    align-self: start;
    transform: translateY(0.5rem);
    grid-column: 2;
    justify-self: center;
    width: 60%;
  }
}
