.grid {
  display: grid;
  grid-template-rows: 8rem calc(100vh + 8rem) repeat(6, min-content);
  grid-template-columns:
    [full-start] minmax(4rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 15rem) [col-end]
    )
    [center-end] minmax(4rem, 1fr)
    [full-end];
  @media only screen and (min-width: $bp-medium) {
    grid-template-rows: 8rem calc(80vh - 8rem) repeat(6, min-content);
  }
}
