.grid {
  display: grid;
  grid-template-rows: 6rem 80vh repeat(7, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr)
    [full-end];
}
