.header {
  grid-column: 1 / -1;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    font-size: 1.9rem;
    color: $color-secondary;
    &--secondary {
      color: $color-grey-light;
    }
  }
}
.main__nav {
  &--list {
    display: flex;
    gap: 2rem;
    font-weight: 400;
  }
  &--link:link,
  &--link:visited {
    font-size: 1.4rem;
    display: inline-block;
    transition: all 0.4s ease-in-out; // Smooth transition for all properties
  }
  &--link:hover,
  &--link:active {
    color: $color-secondary;
    transform: scale(1.1); // Scale the link to 110% of its original size on hover
  }
  &--link.active {
    color: $color-secondary;
    font-weight: 500;
  }
}
