.hero {
  grid-column: full-start / col-end 7;
  grid-row: 2;
  background-image: linear-gradient(rgba($color-black, 0.5), rgba($color-black, 0.5)), url("../../images/house-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 6rem;
  &__wrapper {
    h2 {
      color: $color-primary;
      font-size: 3rem;
    }
    span {
      color: $color-tertiary;
    }
  }
  &__rentBuy {
    display: flex;
    gap: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.7rem;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    width: 18%;
    background-color: $color-primary;
    p {
    }
  }
  &__dropMenu {
    button {
      @include custom-button($color-secondary, $color-primary);
      font-size: 1rem;
    }
    &--container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    padding: 1.4rem;
    background-color: $color-primary;
    font-size: 1.8rem;
    &--item {
      border: none;
      font-size: 1rem;
      background-color: $color-primary;
    }
  }
}
