.hero {
  grid-column: full-start / col-end 6;
  grid-row: 2;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;

  @media (min-width: $bp-xlargest) {
    grid-column: full-start / full-end;
  }

  @media (min-width: $bp-xsmall) and (max-width: $bp-largest) {
    grid-column: full-start / full-end;
    padding: 0rem 6rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba($color-black, 0.55), rgba($color-black, 0.55)),
      url("../../images/house-5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
  }
  &__wrapper {
    h2 {
      color: $color-primary;
      font-size: 4rem;
      text-align: center;
      margin-bottom: 2rem;
    }
    span {
      color: $color-tertiary;
    }
  }
  &__rentBuy {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.7rem;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    width: 17%;
    background-color: $color-primary;
    p {
    }
  }
  &__dropMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    padding: 1.4rem 2rem 1.4rem 2.4rem;
    background-color: $color-primary;
    font-size: 1.8rem;
    border: none;
    position: relative;
    @media (min-width: $bp-xsmall) and (max-width: $bp-small) {
      padding: 0.8rem;
    }

    button {
      @include custom-button($color-secondary, $color-primary);
      font-size: 1rem;
    }
    &--container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      & > :nth-child(1) {
        border-radius: 0px 0px 0px 4px;
      }
      & > :nth-child(4) {
        border-radius: 0px 4px 4px 0px;
      }
    }
    &--item {
      border: none;
      font-size: 1rem;
      background-color: $color-primary;
    }
  }
  a {
    &:hover {
      color: $color-secondary;
      text-decoration: underline dotted;
    }
  }
}
