$bp-xlargest: 118em; //1900px
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-xsmall: 18em; //288px

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  line-height: 1.6;
  background-color: $color-primary;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  @media only screen and (max-width: $bp-medium) {
    font-size: 40%;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}
